{% extends 'base.html' %} 

{% block content %}

<div class="short-description">
  <h2 style="text-align: center">
    <em>Find the best car rental in the U.S</em>
  </h2>
  <h3 style="text-align: center">
    <strong
      >From as low as $50 per day with limited time offer discounts
    </strong>
  </h3>
</div>

<div class="main-section-1">
  <div class="container text-center">
    <form class="row g-3">
      <div class="col-md-4">
        <select class="form-select" aria-label="Default select example">
          <option selected>Any brand</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-select" aria-label="Default select example">
          <option selected>Any type</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-outline-dark btn-lg">
          Search
        </button>
      </div>
    </form>
  </div>
</div>

<section class="sports-cars">
  <h2 class="text-center"><em> Sports Cars </em></h2>
  <p class="text-center">
    We offer Car Rental Services for all kind of Sports Cars at affordable prices
    in the U.S.
  </p>

  <div class="container-fluid">
    <div class="row justify-content-center">


      {% if sports %}

      {% for car in sports %}

      <div
        class="col-lg-3 col-md-4 col-sm-6 col-xs-6 car-col d-flex justify-content-center">
        <div class="card car-card" style="width: 18rem">
          <img src="img/Audi R8.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"> {{ car.car_name }}  </h5>
            <p class="card-text price-text" style="text-align: right">
              <strong> ${{ car.price }}</strong>
            </p>
            <p
              class="card-text mb-1"
              style="text-align: right; font-size: 12px">
              per day
            </p>
            <div class="card-book-btn">
              <a href="#" class="btn btn-outline-dark">Book now</a>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>


    <div class="pt-5 view-more-btn text-center">
      <a class="view-more" href="{% url 'sports_cars' %}">View More</a>
    </div>


    {% else %}

    <h2 class="text-center"><em> No Cars to show </em></h2>

    {% endif %}

  </div>
</section>

<section class="luxury-cars">
  <h2 class="text-center"><em> Luxury Cars </em></h2>
  <p class="text-center">
    We offer Car Rental Services for all kind of Luxury Cars at affordable prices
    in the U.S.
  </p>

  <div class="container-fluid">
    <div class="row justify-content-center">


      {% if luxury %}

      {% for car in luxury %}


      <div
        class="col-lg-3 col-md-4 col-sm-6 col-xs-6 car-col d-flex justify-content-center">
        <div class="card car-card" style="width: 18rem">
          <img src="img/Audi A8.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"> {{ car.car_name }} </h5>
            <p class="card-text price-text" style="text-align: right">
              <strong> ${{ car.price }}</strong>
            </p>
            <p
              class="card-text mb-1"
              style="text-align: right; font-size: 12px">
              per day
            </p>
            <div class="card-book-btn">
              <a href="#" class="btn btn-outline-dark">Book now</a>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
    <div class="pt-5 view-more-btn text-center">
      <a class="view-more" href="{% url 'luxury_cars' %}">View More</a>
    </div>
  </div>


  {% else %}

  <h2 class="text-center"><em> No cars to show </em></h2>

  {% endif %}


</section>

<section class="economy-cars">
  <h2 class="text-center"><em> Economy Cars </em></h2>
  <p class="text-center">
    We offer Car Rental Services for all kind of Economy Cars at affordable prices
    in the U.S.
  </p>

  <div class="container-fluid">
    <div class="row justify-content-center">


      {% if economy %}

      {% for car in economy %}


      <div
        class="col-lg-3 col-md-4 col-sm-6 col-xs-6 car-col d-flex justify-content-center">
        <div class="card car-card" style="width: 18rem">
          <img src="img/Toyota Corolla.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"> {{ car.car_name }} </h5>
            <p class="card-text price-text" style="text-align: right">
              <strong> ${{ car.price }}</strong>
            </p>
            <p
              class="card-text mb-1"
              style="text-align: right; font-size: 12px">
              per day
            </p>
            <div class="card-book-btn">
              <a href="#" class="btn btn-outline-dark">Book now</a>
            </div>
          </div>
        </div>
      </div>


      {% endfor %}



    </div>
    <div class="pt-5 view-more-btn text-center">
      <a class="view-more" href="{% url 'economy_cars' %}">View More</a>
    </div>
  </div>


  {% else %}

  <h2 class="text-center"><em> No cars to show </em></h2>

  {% endif %}


</section>

<section class="suv-cars">
  <h2 class="text-center"><em> SUV Cars </em></h2>
  <p class="text-center">
    We offer Car Rental Services for all kind of SUV Cars at affordable prices
    in the U.S.
  </p>

  <div class="container-fluid">
    <div class="row justify-content-center">

      {% if suv %}

      {% for car in suv %}
      
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-xs-6 car-col d-flex justify-content-center">
        <div class="card car-card" style="width: 18rem">
          <img src="img/Hyundai Santa Fe.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"> {{ car.car_name }} </h5>
            <p class="card-text price-text" style="text-align: right">
              <strong> ${{ car.price }}</strong>
            </p>
            <p
              class="card-text mb-1"
              style="text-align: right; font-size: 12px">
              per day
            </p>
            <div class="card-book-btn">
              <a href="#" class="btn btn-outline-dark">Book now</a>
            </div>
          </div>
        </div>
      </div>


      {% endfor %}

    </div>
    <div class="pt-5 view-more-btn text-center">
      <a class="view-more" href="{% url 'suv_cars' %}">View More</a>
    </div>


    {% else %}

    <h2 class="text-center"><em> No cars to show </em></h2>


    {% endif %}


  </div>
</section>

{% endblock %}
