{% extends 'base.html' %}
{% load static %}

{% block title %}

<title> {{car.car_name}} </title>

{% endblock %}

{% block styles %}
    {{block.super}}

    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}


{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-6">
            <p>
                <a class="link-dark" href="{% url 'home' %}">Home > </a>
                <a class="link-dark" href="{% url 'cars' %}">Cars > </a>
                <a class="link-dark" href="{% url 'luxury_cars' %}">Luxury</a>
            </p>
            
            
            <h4> {{car.car_name}} </h4>
            {% if car.car_image %}
            <img src=" {{ car.car_image.url }} " class="img-fluid car-img" width="750"/>

            {% else %}
            <p>No image available</p>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <div class="book-col ps-5">
                <h4>${{ car.price }} Per Day</h4>
                <i class="fa-solid fa-location-dot pt-3" style="color: #3e5884;">   Miami, FL</i>
            </div>
            <div class="card ms-4 mt-5" style="width: 24rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-dark ">Book Now</a>
                    <a href="#" class="btn btn-dark">WhatsApp</a>
                </div>
              </div>
        </div>
    </div>

</div>


{% endblock %}