{% extends 'base.html' %} 

{% block title %}
<title>Searched for ...</title>
{% endblock %} 

{% block styles %} 

{{ block.super }}

<style>
  #main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
</style>

{% endblock %} 

{% block content %}
<div class="main-section-1">
  <div class="container text-center">
    <form class="row" action="{% url 'car_search' %}" method="GET">
      {% csrf_token %}

      <div class="col-md-6">
        <input
          type="search"
          name="search"
          id="search-bar"
          class="form-control"
          placeholder="Search for a car" />
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-outline-dark btn-lg">
          Search
        </button>
      </div>
    </form>
  </div>
</div>

<div class="container-fluid">
  {% if searched %}

  <h1 class="text-center">You searched for</h1>
  <div class="row justify-content-center">
    {% for car in searched %}
    <div
      class="col-lg-3 col-md-4 col-sm-6 col-xs-6 pt-5 car-col d-flex justify-content-center">
      <div class="card car-card" style="width: 18rem">
        {% if car.car_image %}
        <a href=""></a>
        <img src=" {{ car.car_image.url }} " class="card-img-top" />
        {% else %}
        <img src="" alt="car_image" />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ car.car_name }}</h5>
          <p class="card-text price-text" style="text-align: right">
            <strong> ${{ car.price }}</strong>
          </p>
          <p class="card-text mb-1" style="text-align: right; font-size: 12px">
            per day
          </p>
          <div class="card-book-btn">
            <a href="#" class="btn btn-outline-dark">Book now</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% else %}
  <p class="text-center">No results.</p>
  {% endif %}
</div>

{% endblock %}