{% extends 'base.html' %}

{% block title %}

    <title>Login</title>

{% endblock %}

{% block styles %}
    {{ block.super }}

    <style>
        p.text-center > a {
            color: black;
        }
    </style>

{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}

    <p class="text-center"><a href="{% url 'home' %}">You are not allowed to access this page.</a></p>
{% else %}



  <div class="center">
	  <form method="post" class="card">
	  	{% csrf_token %}
	    <h2 class="text-center">Log in to your account</h2>
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<p>{{ field.errors }}</p> 
	        	{% endif %}
		{% endfor %}
		
		<input type="submit" value="Login" class="btn btn-primary full-width">
		<hr>
		<p class="text-center">Forgot your password <a href="#">Reset Password</a></p>
		<p class="text-center">Don't have a account? <a href="{% url 'register' %}">Join Now</a></p>
	</form>
</div>
{% endif %}
{% endblock %}