{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}

    <title>Login</title>

{% endblock %}

{% block styles %}
    {{ block.super }}

    <style>
        p.text-center > a {
            color: black;
        }


		.center {
			padding: 0rem 10rem;
		}
    </style>

{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}

    <p class="text-center"><a href="{% url 'home' %}">You are not allowed to access this page.</a></p>
{% else %}



  <div class="center">
	  <form method="post">
	  	{% csrf_token %}
	    <h2 class="text-center">Log in to your account</h2>
		{{ form |crispy }}
		
		<input type="submit" value="Login" class="btn btn-outline-dark">
		<hr>
		<p class="text-center">Forgot your password <a href="#">Reset Password</a></p>
		<p class="text-center">Don't have a account? <a href="{% url 'register' %}">Join Now</a></p>
	</form>
</div>
{% endif %}
{% endblock %}