{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}

    <title>Register</title>

{% endblock %}

{% block styles %}
    {{ block.super }}

    <style>
        p.text-center > a {
            color: white;
        }

        a {
            color: white;
        }
		
		.center {
			padding: 0rem 10rem;
			margin-bottom: 5rem;
		}
    </style>

{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}

<p class="text-center"><a href="{% url 'home' %}">You are not allowed to access this page.</a></p>

{% else %}

<div class="center">
	<form method="post" novalidate>
	 	{% csrf_token %}
	 	
	 	<h2>Register</h2>
		{{ form|crispy }}
		<div class="form-buttons">
			<input type="submit" value="Register" class="btn btn-primary"/>
			<a href="{% url 'home' %}" class="btn btn-outline">Cancel</a>
		</div>
	</form>
</div>

{% endif %}

{% endblock %}