{% load static %}

<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="pb-3">About Us</h3>
          <p class="pb-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur itaque ab possimus repellat ducimus illo est neque,
            unde placeat nesciunt, debitis vero suscipit nulla blanditiis
            exercitationem, hic architecto consequuntur obcaecati!
          </p>

          <a style="color: white" class="navbar-brand fa-xl" href="{% url 'home' %}">
            <i class="fa-solid fa-car-side"></i>
            Rent a car</a
          >
        </div>
        <div class="col-lg-4">
          <h3 class="text-center">Important links</h3>
          <ul class="text-center">
            <li><a href="{% url 'home' %}" class="footer-link">Home</a></li>
            <li>
              <a href="{% url 'cars' %}" class="footer-link">All Cars</a>
            </li>
            <li>
              <a href="{% url 'sports_cars' %}" class="footer-link">Sports Cars</a>
            </li>
            <li>
              <a href="{% url 'luxury_cars' %}" class="footer-link">Luxury Cars</a>
            </li>
            <li>
              <a href="{% url 'economy_cars' %}" class="footer-link">Economy Cars</a>
            </li>
            <li>
              <a href="{% url 'suv_cars' %}" class="footer-link">SUV Cars</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h3 class="text-center pb-3">Follow our socials!</h3>
          <div class="img-div text-center">
            <a href="">
              <img width="40px" height="auto" src="{% static 'img/instagram.png' %}" alt=""
            /></a>
            <a href="">
              <img width="67px" height="auto" src="{% static 'img/facebook.png' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr style="color: white;" />
    <p class="text-center pt-5">Copyright @Rent a Car 2023</p>
  </footer>