{% load static %}

<header id="header">
  <section class="navbar-section">
    <nav
      class="navbar navbar-dark navbar-expand-lg bg-body-tertiary"
      data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand ms-5" href="{% url 'home' %}">
          <i class="fa-solid fa-car-side"></i>
          Rent a car</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Cars
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'cars' %}">All Cars</a></li>
                <li><a class="dropdown-item" href="{% url 'economy_cars' %}">Economy Cars</a></li>
                <li><a class="dropdown-item" href="{% url 'sports_cars' %}">Sports Cars</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'luxury_cars' %}">Luxury Cars</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'suv_cars' %}">SUV Cars</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>

          <a class="btn btn-outline-light me-5" href="#">Login/Register</a>
        </div>
      </div>
    </nav>
  </section>

  <section class="main-header">
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel">
      <div class="carousel-inner">
        <h1 class="display-1" style="text-align: center">
          Best car rental in the U.S
        </h1>

        <div class="carousel-item active" data-bs-interval="2000">
          <img
            src="{% static 'img/toyota.png' %}"
            class="object-fit-fill carousel-img ms-auto"
            alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="{% static 'img/bentley.png' %}"
            class="object-fit-fill carousel-img"
            alt="..." />
        </div>
        <!-- <div class="carousel-item">
            <img src="FIVERR3.jpg" class="d-block w-100" alt="...">
          </div> -->
      </div>
    </div>

    <div class="book-btn">
      <a href="#" class="btn btn-lg btn-outline-dark">Book Now!</a>
    </div>
  </section>
</header>
