{% load static %}

<header id="header">
  <section class="navbar-section">
    <nav
      class="navbar navbar-dark navbar-expand-lg bg-body-tertiary"
      data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand ms-5" href="{% url 'home' %}">
          <i class="fa-solid fa-car-side"></i>
          Rent a car</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Cars
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'cars' %}">All Cars</a></li>
                <li><a class="dropdown-item" href="{% url 'economy_cars' %}">Economy Cars</a></li>
                <li><a class="dropdown-item" href="{% url 'sports_cars' %}">Sports Cars</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'luxury_cars' %}">Luxury Cars</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'suv_cars' %}">SUV Cars</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact_form' %}">Contact Us</a>
            </li>
          </ul>

          {% if request.user.is_authenticated %}
          
              <a class="btn btn-outline-light me-5" href="{% url 'logout' %}">Logout</a>

          {% else %}

              <a class="btn btn-outline-light me-5" href="{% url 'login_view' %}">Login/Register</a>

          {% endif %}
        </div>
      </div>
    </nav>
  </section>
</header>
